<body>
    <div class="col-md-5 col-sm-11 snipcss-DLEhT">
        <div class=" regpanel regpage" style="min-height: 500px">
          <div class="regpanelinner">
            <div class="pageheader">
              <div class="logo">
                <img class="logo-img" src="../../assets/egaz.png" alt="eGaz Logo">
              
              </div>
              <div class="pagetitle">
                <h5>
                  Create System Account
                </h5>
                <h1>
                  Sign Up
                </h1>
              </div>
            </div>
            <div class="regcontent">
              <form action="#" method="post" id="user_registration" class="ursform">
                <p class="animate2 bounceIn">
                  <label>
                    Registration:
                  </label>
                <p class="animate3 bounceIn">
                  <label>
                    Email Address:
                  </label>
                  <input required="true" name="email_address" class="input-block-level required-data" placeholder="Active Email Address" value="" type="email">
                  <span class="indicator">
                  </span>
                </p>
                <p class="animate3 bounceIn">
                  <label>
                    Employee No:
                  </label>
                  <input required="true" name="Employee" class="input-block-level required-data" placeholder="Active Employee" value="" type="text" maxlength="17">
                  <span class="indicator">
                  </span>
                </p>
              
                <p>
                  <button type="button">Register</button>

                  <a class="animate8 bounceIn pull-right" style="color:#fff" href="#">
                    Go to Login Page 
                  </a>
                </p>
              </form>
            </div>
          </div>
        
          </div>
        </div>
    
    
</body>
