
<app-card title="Users" subtitle="List of users">
    <button mat-raised-button color="primary" (click)="onCreateUser()">Create New User</button>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>name</th>
                    <th>Department</th>
                    <th>status</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users,let i = index">
                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.department}}</td>
                    <td>
                        <span class="text-success" *ngIf="user.active">Active</span>
                        <span class="text-danger" *ngIf="!user.active">Inactive</span>

                    </td>
                    <td>
                        <button mat-raised-button color="primary" (click)="viewDetails(user)">View Details</button>
                    </td>
                </tr>
            </tbody>
        </table>

</app-card>
