<app-card title="Island Form" subtitle="Create New Island">
    <form [formGroup]="submitForm" autocomplete="off">
        <div class="row">
            <div class="col-md-5">
                <mat-form-field class="w-100 example-full-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Name">
                </mat-form-field>
            </div>
        </div>
    </form>
    <button mat-raised-button color="primary" [disabled]="submitForm.invalid" (click)="onSave()">Save </button>
</app-card>
